main {
	min-height: 85vh;
}
.main__content {
	display: flex;
	justify-content: space-around;
}
.calendar-wrap {
	width:50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 540px) {
	.main__content {
		flex-direction: column;
		padding: 20px;
	}
	.calendar-wrap {
		width:100%;
	}
}
